*.pyc
__pycache__

data/*
!data/.placeholder

outputs/rnn_rnn10/*
outputs/cnn_rnn10/*
outputs/attn_rnn10/*

outputs/rnn_rnn/*
!outputs/rnn_rnn/.placeholder

outputs/cnn_rnn/*
!outputs/cnn_rnn/.placeholder

outputs/attn_rnn/*
!outputs/attn_rnn/.placeholder

outputs/hyp/*
!outputs/hyp/.placeholder

outputs/ref/*
!outputs/ref/.placeholder

